# Content

## Prerequisite

> Mounting google drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).



> Move to working folder

In [ ]:
%cd /content/drive/MyDrive/dibimbing/data\ cleansing

/content/drive/MyDrive/dibimbing/data cleansing

## 1. Introduction to Pandas DataFrame



> Import the pandas package

In [ ]:
import pandas as pd



> What is `pandas.DataFrame`?

>Run the script below to show the information about a function in google collab. You can add `?` on the end of a function to show its definition

In [ ]:
pd.DataFrame?

## 2. DataFrame Import & Information



> Import dataframe from a csv

In [ ]:
#Import dataframe from csv
df = pd.read_csv('Sales-Export_2021-2022_Details - final.tsv',sep='\t', header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,row_,country_,currency_,order_value_,gross_profit_,cost_,date_,category_,customer_name_,sales_manager_,sales_rep_,device_type_,order_id_,country_id_
1,1,Sweden,EUR,"17,524.02","3,401.41","$14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466,
2,2,Finland,EUR,"116,563.40","23,755.62","$92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323,
3,3,Portugal,EUR,"296,465.56","38,985.22","$257,480.34",7/11/2021,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341,
4,4,Portugal,EUR,"74,532.02","14,779.70","$59,752.32",4/2/2022,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001,1001,France,EUR,"46,296.26","5,976.85","$40,319.41",5/15/2022,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084,
1002,1002,Belgium,EUR,"118,061.05","16,929.95","$101,131.10",7/2/2022,Appliances,Johns and Sons,Lambert Norheny,Collin Mackness,Mobile,59-2117058,
1003,1003,Finland,EUR,"74,480.56","14,456.68","$60,023.88",3/6/2022,Clothing,Homenick-Marvin,Hube Corey,Wat Bowkley,PC,31-1849120,
1004,1004,Spain,EUR,"87,205.01","18,034.00","$69,171.01",6/18/2022,Games,Johns and Sons,Emalia Dinse,Manuel Goudie,Tablet,45-3085595,
1005,1005,Portugal,EUR,"107,716.72","21,037.08","$86,679.64",1/18/2022,Accessories,"Jacobson, Marvin and Brown",Celine Tumasian,Brynn Dempster,Mobile,61-3294149,



> Generate top *n* from dataframe

In [ ]:
df.head(n=3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,row_,country_,currency_,order_value_,gross_profit_,cost_,date_,category_,customer_name_,sales_manager_,sales_rep_,device_type_,order_id_,country_id_
1,1,Sweden,EUR,"17,524.02","3,401.41","$14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466,
2,2,Finland,EUR,"116,563.40","23,755.62","$92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323,



> Generate bottom *n* from dataframe

In [ ]:
df.tail(n=3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
1003,1003,Finland,EUR,"74,480.56","14,456.68","$60,023.88",3/6/2022,Clothing,Homenick-Marvin,Hube Corey,Wat Bowkley,PC,31-1849120,
1004,1004,Spain,EUR,"87,205.01","18,034.00","$69,171.01",6/18/2022,Games,Johns and Sons,Emalia Dinse,Manuel Goudie,Tablet,45-3085595,
1005,1005,Portugal,EUR,"107,716.72","21,037.08","$86,679.64",1/18/2022,Accessories,"Jacobson, Marvin and Brown",Celine Tumasian,Brynn Dempster,Mobile,61-3294149,

> Generate descriptive statistics information

In [ ]:
#Generate descriptive statistics
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,1006,1006,1006,1006,1006,1006,1006,1006,1006,1006,1006,1006,1006,1006
unique,1006,17,4,1002,1002,1002,539,12,77,17,37,5,1002,2
top,row_,Portugal,EUR,,,,3/1/2022,Clothing,Johns and Sons,Celine Tumasian,Amelina Piscopiello,PC,,
freq,1,239,900,5,5,5,5,155,142,240,57,786,5,1005

> Show dataframe shape

In [ ]:
#Check dataframe shape
df.shape

(1006, 14)

> Show dataframe data types

In [ ]:
#Check dataframe data types
df.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
dtype: object

💡*please explore again about data types especially dataframe data types* 💡

> Show dataframe index

In [ ]:
#check data frame index
df.columns.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13])

> Show dataframe columns

In [ ]:
#check dataframe colummns
df.columns.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13])



> Select single column

In [ ]:
df[1]

0       country_
1         Sweden
2        Finland
3       Portugal
4       Portugal
          ...
1001      France
1002     Belgium
1003     Finland
1004       Spain
1005    Portugal
Name: 1, Length: 1006, dtype: object



> Select multiple columns

In [ ]:
df[[1,2]]

             1          2
0     country_  currency_
1       Sweden        EUR
2      Finland        EUR
3     Portugal        EUR
4     Portugal        EUR
...        ...        ...
1001    France        EUR
1002   Belgium        EUR
1003   Finland        EUR
1004     Spain        EUR
1005  Portugal        EUR

[1006 rows x 2 columns]

## 3. Basic Cleansing

In [ ]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,row_,country_,currency_,order_value_,gross_profit_,cost_,date_,category_,customer_name_,sales_manager_,sales_rep_,device_type_,order_id_,country_id_
1,1,Sweden,EUR,"17,524.02","3,401.41","$14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466,
2,2,Finland,EUR,"116,563.40","23,755.62","$92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323,
3,3,Portugal,EUR,"296,465.56","38,985.22","$257,480.34",7/11/2021,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341,
4,4,Portugal,EUR,"74,532.02","14,779.70","$59,752.32",4/2/2022,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183,

In [ ]:
df.columns

RangeIndex(start=0, stop=14, step=1)

In [ ]:
df.columns.to_flat_index()

RangeIndex(start=0, stop=14, step=1)

### 3.1. Rename Column

> Selective rename column(s)

In [ ]:
df.rename(columns={0: 'row',1:'country'})

,row,country,2,3,4,5,6,7,8,9,10,11,12,13
0,row_,country_,currency_,order_value_,gross_profit_,cost_,date_,category_,customer_name_,sales_manager_,sales_rep_,device_type_,order_id_,country_id_
1,1,Sweden,EUR,"17,524.02","3,401.41","$14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466,
2,2,Finland,EUR,"116,563.40","23,755.62","$92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323,
3,3,Portugal,EUR,"296,465.56","38,985.22","$257,480.34",7/11/2021,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341,
4,4,Portugal,EUR,"74,532.02","14,779.70","$59,752.32",4/2/2022,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001,1001,France,EUR,"46,296.26","5,976.85","$40,319.41",5/15/2022,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084,
1002,1002,Belgium,EUR,"118,061.05","16,929.95","$101,131.10",7/2/2022,Appliances,Johns and Sons,Lambert Norheny,Collin Mackness,Mobile,59-2117058,
1003,1003,Finland,EUR,"74,480.56","14,456.68","$60,023.88",3/6/2022,Clothing,Homenick-Marvin,Hube Corey,Wat Bowkley,PC,31-1849120,
1004,1004,Spain,EUR,"87,205.01","18,034.00","$69,171.01",6/18/2022,Games,Johns and Sons,Emalia Dinse,Manuel Goudie,Tablet,45-3085595,
1005,1005,Portugal,EUR,"107,716.72","21,037.08","$86,679.64",1/18/2022,Accessories,"Jacobson, Marvin and Brown",Celine Tumasian,Brynn Dempster,Mobile,61-3294149,

> Rename all columns

In [ ]:
column_name = df.loc[0].values

In [ ]:
column_name

array(['row_', 'country_', 'currency_', ' order_value_ ',
       ' gross_profit_ ', 'cost_', 'date_', 'category_', 'customer_name_',
       'sales_manager_', 'sales_rep_', 'device_type_', 'order_id_',
       'country_id_'], dtype=object)

In [ ]:
df.columns = column_name

In [ ]:
df.head()

,row_,country_,currency_,order_value_,gross_profit_,cost_,date_,category_,customer_name_,sales_manager_,sales_rep_,device_type_,order_id_,country_id_
0,row_,country_,currency_,order_value_,gross_profit_,cost_,date_,category_,customer_name_,sales_manager_,sales_rep_,device_type_,order_id_,country_id_
1,1,Sweden,EUR,"17,524.02","3,401.41","$14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466,
2,2,Finland,EUR,"116,563.40","23,755.62","$92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323,
3,3,Portugal,EUR,"296,465.56","38,985.22","$257,480.34",7/11/2021,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341,
4,4,Portugal,EUR,"74,532.02","14,779.70","$59,752.32",4/2/2022,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183,

> Rename using string replace

In [ ]:
df.columns

Index(['row_', 'country_', 'currency_', ' order_value_ ', ' gross_profit_ ',
       'cost_', 'date_', 'category_', 'customer_name_', 'sales_manager_',
       'sales_rep_', 'device_type_', 'order_id_', 'country_id_'],
      dtype='object')

In [ ]:
df.columns = df.columns.str.replace('_','')

In [ ]:
df.columns = df.columns.str.replace(' ','')

In [ ]:
df.columns

Index(['row', 'country', 'currency', 'ordervalue', 'grossprofit', 'cost',
       'date', 'category', 'customername', 'salesmanager', 'salesrep',
       'devicetype', 'orderid', 'countryid'],
      dtype='object')

### 3.2. Drop

In [ ]:
pd.DataFrame.drop?

In [ ]:
df.head()

,row,country,currency,ordervalue,grossprofit,cost,date,category,customername,salesmanager,salesrep,devicetype,orderid,countryid
0,row_,country_,currency_,order_value_,gross_profit_,cost_,date_,category_,customer_name_,sales_manager_,sales_rep_,device_type_,order_id_,country_id_
1,1,Sweden,EUR,"17,524.02","3,401.41","$14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466,
2,2,Finland,EUR,"116,563.40","23,755.62","$92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323,
3,3,Portugal,EUR,"296,465.56","38,985.22","$257,480.34",7/11/2021,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341,
4,4,Portugal,EUR,"74,532.02","14,779.70","$59,752.32",4/2/2022,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183,

> Drop Row

In [ ]:
df = df.drop(index=0,axis=0)

In [ ]:
df.head()

,row,country,currency,ordervalue,grossprofit,cost,date,category,customername,salesmanager,salesrep,devicetype,orderid,countryid
1,1,Sweden,EUR,"17,524.02","3,401.41","$14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466,
2,2,Finland,EUR,"116,563.40","23,755.62","$92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323,
3,3,Portugal,EUR,"296,465.56","38,985.22","$257,480.34",7/11/2021,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341,
4,4,Portugal,EUR,"74,532.02","14,779.70","$59,752.32",4/2/2022,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183,
5,5,Spain,EUR,"178,763.42","32,141.66","$146,621.76",12/22/2021,Games,Johns and Sons,Emalia Dinse,Bertha Walbrook,Tablet,15-8765160,

In [ ]:
df = df.reset_index(drop=True)

> Drop Column(s)

In [ ]:
df = df.drop(columns='row')

In [ ]:
df.head()

,country,currency,ordervalue,grossprofit,cost,date,category,customername,salesmanager,salesrep,devicetype,orderid,countryid
0,Sweden,EUR,"17,524.02","3,401.41","$14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466,
1,Finland,EUR,"116,563.40","23,755.62","$92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323,
2,Portugal,EUR,"296,465.56","38,985.22","$257,480.34",7/11/2021,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341,
3,Portugal,EUR,"74,532.02","14,779.70","$59,752.32",4/2/2022,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183,
4,Spain,EUR,"178,763.42","32,141.66","$146,621.76",12/22/2021,Games,Johns and Sons,Emalia Dinse,Bertha Walbrook,Tablet,15-8765160,

## 4. Handling Missing Values

In [ ]:
import numpy as np

In [ ]:
df = df.replace('',np.nan)

In [ ]:
df.head()

,country,currency,ordervalue,grossprofit,cost,date,category,customername,salesmanager,salesrep,devicetype,orderid,countryid
0,Sweden,EUR,"17,524.02","3,401.41","$14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466,NaN
1,Finland,EUR,"116,563.40","23,755.62","$92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323,NaN
2,Portugal,EUR,"296,465.56","38,985.22","$257,480.34",7/11/2021,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341,NaN
3,Portugal,EUR,"74,532.02","14,779.70","$59,752.32",4/2/2022,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183,NaN
4,Spain,EUR,"178,763.42","32,141.66","$146,621.76",12/22/2021,Games,Johns and Sons,Emalia Dinse,Bertha Walbrook,Tablet,15-8765160,NaN

> Check Missing Values

In [ ]:
df.isnull()

,country,currency,ordervalue,grossprofit,cost,date,category,customername,salesmanager,salesrep,devicetype,orderid,countryid
0,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,False,False,False,False,False,False,False,False,False,False,False,False,True
1001,False,False,False,False,False,False,False,False,False,False,False,False,True
1002,False,False,False,False,False,False,False,False,False,False,False,False,True
1003,False,False,False,False,False,False,False,False,False,False,False,False,True
1004,False,False,False,False,False,False,False,False,False,False,False,False,True

In [ ]:
df.isnull().any(axis=0)

country         True
currency        True
ordervalue      True
grossprofit     True
cost            True
date            True
category        True
customername    True
salesmanager    True
salesrep        True
devicetype      True
orderid         True
countryid       True
dtype: bool

In [ ]:
df.isnull().sum()

country            4
currency           4
ordervalue         5
grossprofit        5
cost               5
date               3
category           3
customername       3
salesmanager       4
salesrep           3
devicetype         4
orderid            5
countryid       1005
dtype: int64

In [ ]:
df = df.drop(columns='countryid')

> Drop Missing value

In [ ]:
df.dropna()

,country,currency,ordervalue,grossprofit,cost,date,category,customername,salesmanager,salesrep,devicetype,orderid
0,Sweden,EUR,"17,524.02","3,401.41","$14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466
1,Finland,EUR,"116,563.40","23,755.62","$92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323
2,Portugal,EUR,"296,465.56","38,985.22","$257,480.34",7/11/2021,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341
3,Portugal,EUR,"74,532.02","14,779.70","$59,752.32",4/2/2022,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183
4,Spain,EUR,"178,763.42","32,141.66","$146,621.76",12/22/2021,Games,Johns and Sons,Emalia Dinse,Bertha Walbrook,Tablet,15-8765160
...,...,...,...,...,...,...,...,...,...,...,...,...
1000,France,EUR,"46,296.26","5,976.85","$40,319.41",5/15/2022,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
1001,Belgium,EUR,"118,061.05","16,929.95","$101,131.10",7/2/2022,Appliances,Johns and Sons,Lambert Norheny,Collin Mackness,Mobile,59-2117058
1002,Finland,EUR,"74,480.56","14,456.68","$60,023.88",3/6/2022,Clothing,Homenick-Marvin,Hube Corey,Wat Bowkley,PC,31-1849120
1003,Spain,EUR,"87,205.01","18,034.00","$69,171.01",6/18/2022,Games,Johns and Sons,Emalia Dinse,Manuel Goudie,Tablet,45-3085595
1004,Portugal,EUR,"107,716.72","21,037.08","$86,679.64",1/18/2022,Accessories,"Jacobson, Marvin and Brown",Celine Tumasian,Brynn Dempster,Mobile,61-3294149

> Fill missing value

In [ ]:
df.fillna(value=0)

,country,currency,ordervalue,grossprofit,cost,date,category,customername,salesmanager,salesrep,devicetype,orderid
0,Sweden,EUR,"17,524.02","3,401.41","$14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466
1,Finland,EUR,"116,563.40","23,755.62","$92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323
2,Portugal,EUR,"296,465.56","38,985.22","$257,480.34",7/11/2021,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341
3,Portugal,EUR,"74,532.02","14,779.70","$59,752.32",4/2/2022,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183
4,Spain,EUR,"178,763.42","32,141.66","$146,621.76",12/22/2021,Games,Johns and Sons,Emalia Dinse,Bertha Walbrook,Tablet,15-8765160
...,...,...,...,...,...,...,...,...,...,...,...,...
1000,France,EUR,"46,296.26","5,976.85","$40,319.41",5/15/2022,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
1001,Belgium,EUR,"118,061.05","16,929.95","$101,131.10",7/2/2022,Appliances,Johns and Sons,Lambert Norheny,Collin Mackness,Mobile,59-2117058
1002,Finland,EUR,"74,480.56","14,456.68","$60,023.88",3/6/2022,Clothing,Homenick-Marvin,Hube Corey,Wat Bowkley,PC,31-1849120
1003,Spain,EUR,"87,205.01","18,034.00","$69,171.01",6/18/2022,Games,Johns and Sons,Emalia Dinse,Manuel Goudie,Tablet,45-3085595
1004,Portugal,EUR,"107,716.72","21,037.08","$86,679.64",1/18/2022,Accessories,"Jacobson, Marvin and Brown",Celine Tumasian,Brynn Dempster,Mobile,61-3294149

In [ ]:
df['country'].fillna(value=0).value_counts()

Portugal       239
France         232
Sweden         183
UK             101
Finland         44
Ireland         43
Bulgaria        30
Netherlands     28
Spain           26
Germany         24
Luxembourg      22
Denmark         11
Italy           10
Belgium          6
0                4
Austria          2
Name: country, dtype: int64

In [ ]:
df.fillna(method='ffill')

,country,currency,ordervalue,grossprofit,cost,date,category,customername,salesmanager,salesrep,devicetype,orderid
0,Sweden,EUR,"17,524.02","3,401.41","$14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466
1,Finland,EUR,"116,563.40","23,755.62","$92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323
2,Portugal,EUR,"296,465.56","38,985.22","$257,480.34",7/11/2021,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341
3,Portugal,EUR,"74,532.02","14,779.70","$59,752.32",4/2/2022,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183
4,Spain,EUR,"178,763.42","32,141.66","$146,621.76",12/22/2021,Games,Johns and Sons,Emalia Dinse,Bertha Walbrook,Tablet,15-8765160
...,...,...,...,...,...,...,...,...,...,...,...,...
1000,France,EUR,"46,296.26","5,976.85","$40,319.41",5/15/2022,Games,Wisoky Inc,Othello Bowes,Amelina Piscopiello,Tablet,77-3489084
1001,Belgium,EUR,"118,061.05","16,929.95","$101,131.10",7/2/2022,Appliances,Johns and Sons,Lambert Norheny,Collin Mackness,Mobile,59-2117058
1002,Finland,EUR,"74,480.56","14,456.68","$60,023.88",3/6/2022,Clothing,Homenick-Marvin,Hube Corey,Wat Bowkley,PC,31-1849120
1003,Spain,EUR,"87,205.01","18,034.00","$69,171.01",6/18/2022,Games,Johns and Sons,Emalia Dinse,Manuel Goudie,Tablet,45-3085595
1004,Portugal,EUR,"107,716.72","21,037.08","$86,679.64",1/18/2022,Accessories,"Jacobson, Marvin and Brown",Celine Tumasian,Brynn Dempster,Mobile,61-3294149

In [ ]:
#we will use dropna
df = df.dropna()

## 5. String Functions

In [ ]:
df.head()

,country,currency,ordervalue,grossprofit,cost,date,category,customername,salesmanager,salesrep,devicetype,orderid
0,Sweden,EUR,"17,524.02","3,401.41","$14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466
1,Finland,EUR,"116,563.40","23,755.62","$92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323
2,Portugal,EUR,"296,465.56","38,985.22","$257,480.34",7/11/2021,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341
3,Portugal,EUR,"74,532.02","14,779.70","$59,752.32",4/2/2022,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183
4,Spain,EUR,"178,763.42","32,141.66","$146,621.76",12/22/2021,Games,Johns and Sons,Emalia Dinse,Bertha Walbrook,Tablet,15-8765160

> Replace

In [ ]:
df['cost'] = df['cost'].str.replace('$','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [ ]:
df.head()

,country,currency,ordervalue,grossprofit,cost,date,category,customername,salesmanager,salesrep,devicetype,orderid
0,Sweden,EUR,"17,524.02","3,401.41","14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466
1,Finland,EUR,"116,563.40","23,755.62","92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323
2,Portugal,EUR,"296,465.56","38,985.22","257,480.34",7/11/2021,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341
3,Portugal,EUR,"74,532.02","14,779.70","59,752.32",4/2/2022,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183
4,Spain,EUR,"178,763.42","32,141.66","146,621.76",12/22/2021,Games,Johns and Sons,Emalia Dinse,Bertha Walbrook,Tablet,15-8765160

> Split

In [ ]:
pd.DataFrame(df['date'].str.split('/'))

                date
0      [2, 12, 2022]
1      [9, 26, 2021]
2      [7, 11, 2021]
3       [4, 2, 2022]
4     [12, 22, 2021]
...              ...
1000   [5, 15, 2022]
1001    [7, 2, 2022]
1002    [3, 6, 2022]
1003   [6, 18, 2022]
1004   [1, 18, 2022]

[1000 rows x 1 columns]

> Upper & Lower

In [ ]:
df['country'].str.upper()

0         SWEDEN
1        FINLAND
2       PORTUGAL
3       PORTUGAL
4          SPAIN
          ...
1000      FRANCE
1001     BELGIUM
1002     FINLAND
1003       SPAIN
1004    PORTUGAL
Name: country, Length: 1000, dtype: object

In [ ]:
df['country'].str.lower()

0         sweden
1        finland
2       portugal
3       portugal
4          spain
          ...
1000      france
1001     belgium
1002     finland
1003       spain
1004    portugal
Name: country, Length: 1000, dtype: object

In [ ]:
df['country'].str.title()

0         Sweden
1        Finland
2       Portugal
3       Portugal
4          Spain
          ...
1000      France
1001     Belgium
1002     Finland
1003       Spain
1004    Portugal
Name: country, Length: 1000, dtype: object

In [ ]:
df['country'].str.capitalize()

0         Sweden
1        Finland
2       Portugal
3       Portugal
4          Spain
          ...
1000      France
1001     Belgium
1002     Finland
1003       Spain
1004    Portugal
Name: country, Length: 1000, dtype: object

## 6. Change Data Types

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       1001 non-null   object
 1   currency      1001 non-null   object
 2   ordervalue    1000 non-null   object
 3   grossprofit   1000 non-null   object
 4   cost          1000 non-null   object
 5   date          1002 non-null   object
 6   category      1002 non-null   object
 7   customername  1002 non-null   object
 8   salesmanager  1001 non-null   object
 9   salesrep      1002 non-null   object
 10  devicetype    1001 non-null   object
 11  orderid       1000 non-null   object
dtypes: object(12)
memory usage: 94.3+ KB

In [ ]:
df.head()

,country,currency,ordervalue,grossprofit,cost,date,category,customername,salesmanager,salesrep,devicetype,orderid
0,Sweden,EUR,"17,524.02","3,401.41","14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466
1,Finland,EUR,"116,563.40","23,755.62","92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323
2,Portugal,EUR,"296,465.56","38,985.22","257,480.34",7/11/2021,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341
3,Portugal,EUR,"74,532.02","14,779.70","59,752.32",4/2/2022,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183
4,Spain,EUR,"178,763.42","32,141.66","146,621.76",12/22/2021,Games,Johns and Sons,Emalia Dinse,Bertha Walbrook,Tablet,15-8765160

> Using astype

In [ ]:
df['cost']

0        14,122.61
1        92,807.78
2       257,480.34
3        59,752.32
4       146,621.76
           ...
1000     40,319.41
1001    101,131.10
1002     60,023.88
1003     69,171.01
1004     86,679.64
Name: cost, Length: 1000, dtype: object

In [ ]:
df['cost'].str.replace(',','').astype('float64')

0        14122.61
1        92807.78
2       257480.34
3        59752.32
4       146621.76
          ...
1000     40319.41
1001    101131.10
1002     60023.88
1003     69171.01
1004     86679.64
Name: cost, Length: 1000, dtype: float64

> Using pandas function

In [ ]:
pd.to_datetime(df['date'])

0      2022-02-12
1      2021-09-26
2      2021-07-11
3      2022-04-02
4      2021-12-22
          ...
1000   2022-05-15
1001   2022-07-02
1002   2022-03-06
1003   2022-06-18
1004   2022-01-18
Name: date, Length: 1000, dtype: datetime64[ns]

In [ ]:
pd.to_numeric(df['cost'].str.replace(',',''))

0        14122.61
1        92807.78
2       257480.34
3        59752.32
4       146621.76
          ...
1000     40319.41
1001    101131.10
1002     60023.88
1003     69171.01
1004     86679.64
Name: cost, Length: 1005, dtype: float64

> Using convert_dtypes

In [ ]:
df.convert_dtypes().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 1004
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       1000 non-null   string
 1   currency      1000 non-null   string
 2   ordervalue    1000 non-null   string
 3   grossprofit   1000 non-null   string
 4   cost          1000 non-null   string
 5   date          1000 non-null   string
 6   category      1000 non-null   string
 7   customername  1000 non-null   string
 8   salesmanager  1000 non-null   string
 9   salesrep      1000 non-null   string
 10  devicetype    1000 non-null   string
 11  orderid       1000 non-null   string
dtypes: string(12)
memory usage: 133.9 KB

In [ ]:
df[['country']].convert_dtypes().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 1004
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  1000 non-null   string
dtypes: string(1)
memory usage: 47.9 KB

## 7. Other Data Preprocessing

Label Encoding

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()

In [ ]:
df_encode = pd.DataFrame(df['country'])

In [ ]:
df_encode['countryCode'] = ord_enc.fit_transform(df_encode[['country']])

In [ ]:
df_encode

       country  countryCode
0       Sweden         13.0
1      Finland          4.0
2     Portugal         11.0
3     Portugal         11.0
4        Spain         12.0
...        ...          ...
1000    France          5.0
1001   Belgium          1.0
1002   Finland          4.0
1003     Spain         12.0
1004  Portugal         11.0

[1005 rows x 2 columns]

> One Hot Encoding

In [ ]:
df_country = df[['country']]

In [ ]:
df_country

       country
0       Sweden
1      Finland
2     Portugal
3     Portugal
4        Spain
...        ...
1000    France
1001   Belgium
1002   Finland
1003     Spain
1004  Portugal

[1000 rows x 1 columns]

In [ ]:
df_country_encoded = pd.get_dummies(df_country,columns=['country'],prefix='country')

In [ ]:
df_country_encoded.head()

,country_Austria,country_Belgium,country_Bulgaria,country_Denmark,country_Finland,country_France,country_Germany,country_Ireland,country_Italy,country_Luxembourg,country_Netherlands,country_Portugal,country_Spain,country_Sweden,country_UK
0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [ ]:
pd.concat([df_country,df_country_encoded],axis=1)

,country,country_Austria,country_Belgium,country_Bulgaria,country_Denmark,country_Finland,country_France,country_Germany,country_Ireland,country_Italy,country_Luxembourg,country_Netherlands,country_Portugal,country_Spain,country_Sweden,country_UK
0,Sweden,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,Finland,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,Portugal,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,Portugal,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,Spain,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,France,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1001,Belgium,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1002,Finland,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1003,Spain,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1004,Portugal,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

> Normalization

In [ ]:
df.head()

,country,currency,ordervalue,grossprofit,cost,date,category,customername,salesmanager,salesrep,devicetype,orderid
0,Sweden,EUR,"17,524.02","3,401.41","14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466
1,Finland,EUR,"116,563.40","23,755.62","92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323
2,Portugal,EUR,"296,465.56","38,985.22","257,480.34",7/11/2021,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341
3,Portugal,EUR,"74,532.02","14,779.70","59,752.32",4/2/2022,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183
4,Spain,EUR,"178,763.42","32,141.66","146,621.76",12/22/2021,Games,Johns and Sons,Emalia Dinse,Bertha Walbrook,Tablet,15-8765160

In [ ]:
df['ordervalue'] = pd.to_numeric(df['ordervalue'].str.replace(',',''))

In [ ]:
from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler()

In [ ]:
df['ordervalue_norm'] = min_max_scaler.fit_transform(df[['ordervalue']])

In [ ]:
df.describe()

          ordervalue  ordervalue_norm
count    1000.000000      1000.000000
mean   113361.738710         0.266365
std     61775.335675         0.167460
min     15100.570000         0.000000
25%     65310.862500         0.136110
50%    105419.425000         0.244835
75%    151192.642500         0.368917
max    383996.760000         1.000000

> Standardization

In [ ]:
from sklearn.preprocessing import StandardScaler

std_scaler = StandardScaler()

In [ ]:
df['ordervalue_std'] = std_scaler.fit_transform(df[['ordervalue']])

In [ ]:
df.head()

,country,currency,ordervalue,grossprofit,cost,date,category,customername,salesmanager,salesrep,devicetype,orderid,ordervalue_std
0,Sweden,EUR,17524.02,"3,401.41","14,122.61",2/12/2022,Books,Goldner-Dibbert,Maxie Marrow,Madelon Bront,Mobile,70-0511466,-1.552168
1,Finland,EUR,116563.40,"23,755.62","92,807.78",9/26/2021,Games,Hilll-Vandervort,Hube Corey,Wat Bowkley,Mobile,28-6585323,0.051853
2,Portugal,EUR,296465.56,"38,985.22","257,480.34",7/11/2021,Clothing,Larkin-Collier,Celine Tumasian,Smitty Culverhouse,PC,58-7703341,2.965511
3,Portugal,EUR,74532.02,"14,779.70","59,752.32",4/2/2022,Beauty,Hessel-Stiedemann,Celine Tumasian,Aurelie Wren,PC,14-6700183,-0.628878
4,Spain,EUR,178763.42,"32,141.66","146,621.76",12/22/2021,Games,Johns and Sons,Emalia Dinse,Bertha Walbrook,Tablet,15-8765160,1.059232

In [ ]:
df.describe()

          ordervalue  ordervalue_std
count    1000.000000    1.000000e+03
mean   113361.738710    1.298683e-16
std     61775.335675    1.000500e+00
min     15100.570000   -1.591417e+00
25%     65310.862500   -7.782219e-01
50%    105419.425000   -1.286320e-01
75%    151192.642500    6.127014e-01
max    383996.760000    4.383148e+00